<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info">
         
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">Pitch Deck <li><a href="{{url_for('main.create_pitch')}}" style="color: #020202">   Add a new Pitch</a> </li>  </h5>
    <a href="{{url_for('main.index')}}"> <button type="button" class="btn  btn-sm">Home</span></button></a> 
    <nav class="my-2 my-md-0 mr-md-3">
          <ul class="nav navbar-nav navbar-primary">
                {% if current_user.is_authenticated %}
                
              
                <li style="padding-left:100px;margin: 0px 0px 0px 10px;position:absolute" class="text-light mt-2">Signed as {{current_user.username}}</li>
                <li style="padding-right:120px" ><a class="btn btn-outline-primary text-light" href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a class="btn btn-outline-info text-light" href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
          </ul>
    </nav>
</div>